[
    {
        "scope": "https://bitbucket.org:443",
        "method": "POST",
        "path": "/site/oauth2/access_token",
        "body": "grant_type=authorization_code&client_id=PLACEHOLDER_BITBUCKET_APP_CLIENT_KEY&client_secret=PLACEHOLDER_BITBUCKET_APP_CLIENT_SECRET&code=68BuaD9Gnxpx8ybkVp",
        "status": 200,
        "response": {
            "access_token": "placeholder_access_token",
            "scopes": "webhook pullrequest:write project account",
            "expires_in": 7200,
            "refresh_token": "placeholder_refresh_token",
            "token_type": "bearer"
        },
        "rawHeaders": [
            "nginx",
            "no-cache, no-store, must-revalidate, max-age=0",
            "Content-Type",
            "application/json",
            "max-age=31536000; includeSubDomains; preload",
            "Sun, 16 Sep 2018 07:32:27 GMT",
            "app-163",
            "Sun, 16 Sep 2018 07:32:27 GMT",
            "Content-Language",
            "en",
            "X-Static-Version",
            "54a54946c342",
            "ETag",
            "\"b582d45d15c118d3547e0913229623d7\"",
            "nosniff",
            "X-Render-Time",
            "0.0219528675079",
            "close",
            "Last-Modified",
            "Sun, 16 Sep 2018 07:32:27 GMT",
            "X-Version",
            "54a54946c342",
            "X-Request-Count",
            "422",
            "SAMEORIGIN",
            "242"
        ]
    },
[...]
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/user?access_token=placeholder_new_access_token",
        "body": "",
        "status": 200,
        "response": {
            "username": "sparktree",
            "website": "http://www.thesparktree.com/",
            "display_name": "SparkTree Inc NA",
            "account_id": "557058:5c205029-ab43-43d7-988c-61b5fddf59ea",
            "links": {
                "hooks": {
                    "href": "https://api.bitbucket.org/2.0/users/sparktree/hooks"
                },
                "self": {
                    "href": "https://api.bitbucket.org/2.0/users/sparktree"
                },
                "repositories": {
                    "href": "https://api.bitbucket.org/2.0/repositories/sparktree"
                },
                "html": {
                    "href": "https://bitbucket.org/sparktree/"
                },
                "followers": {
                    "href": "https://api.bitbucket.org/2.0/users/sparktree/followers"
                },
                "avatar": {
                    "href": "https://bitbucket.org/account/sparktree/avatar/"
                },
                "following": {
                    "href": "https://api.bitbucket.org/2.0/users/sparktree/following"
                },
                "snippets": {
                    "href": "https://api.bitbucket.org/2.0/snippets/sparktree"
                }
            },
            "created_on": "2012-07-31T03:35:13.316223+00:00",
            "is_staff": false,
            "location": null,
            "type": "user",
            "uuid": "{7db0d153-ce95-4a66-acfe-cea85d4f99c3}"
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "X-OAuth-Scopes",
            "webhook, pullrequest:write, project, account",
            "max-age=31536000; includeSubDomains; preload",
            "Sun, 16 Sep 2018 07:32:28 GMT",
            "app-141",
            "bytes",
            "X-Static-Version",
            "54a54946c342",
            "ETag",
            "\"b0b78519f0e5250e885e407efa583f39\"",
            "nosniff",
            "X-Render-Time",
            "0.0196089744568",
            "X-Credential-Type",
            "oauth2",
            "X-Accepted-OAuth-Scopes",
            "account",
            "close",
            "X-Version",
            "54a54946c342",
            "X-Request-Count",
            "634",
            "SAMEORIGIN",
            "caching",
            "915"
        ]
    },
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/user/emails?access_token=placeholder_new_access_token",
        "body": "",
        "status": 200,
        "response": {
            "pagelen": 10,
            "values": [
                {
                    "is_primary": true,
                    "is_confirmed": true,
                    "type": "email",
                    "email": "jk17@ualberta.ca",
                    "links": {
                        "self": {
                            "href": "https://api.bitbucket.org/2.0/user/emails/jk17@ualberta.ca"
                        }
                    }
                }
            ],
            "page": 1,
            "size": 1
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "X-OAuth-Scopes",
            "webhook, pullrequest:write, project, account",
            "max-age=31536000; includeSubDomains; preload",
            "Sun, 16 Sep 2018 07:32:28 GMT",
            "app-162",
            "X-Static-Version",
            "54a54946c342",
            "ETag",
            "\"20fd011491cc4a45dd399daf8c6a6da1\"",
            "nosniff",
            "X-Render-Time",
            "0.0253760814667",
            "X-Credential-Type",
            "oauth2",
            "X-Accepted-OAuth-Scopes",
            "email",
            "close",
            "X-Version",
            "54a54946c342",
            "X-Request-Count",
            "359",
            "SAMEORIGIN",
            "caching",
            "230"
        ]
    }
]