[
    {
        "scope": "https://api.github.com:443",
        "method": "post",
        "path": "/repos/AnalogJ/npm_analogj_test/issues/14/comments?access_token=capsulecd_user_access_token",
        "body": {
            "body": "this is a test comment body"
        },
        "status": 201,
        "response": {
            "url": "https://api.github.com/repos/AnalogJ/npm_analogj_test/issues/comments/421793170",
            "html_url": "https://github.com/AnalogJ/npm_analogj_test/pull/14#issuecomment-421793170",
            "issue_url": "https://api.github.com/repos/AnalogJ/npm_analogj_test/issues/14",
            "id": 421793170,
            "node_id": "MDEyOklzc3VlQ29tbWVudDQyMTc5MzE3MA==",
            "user": {
                "login": "CapsuleCD",
                "id": 13824387,
                "node_id": "MDQ6VXNlcjEzODI0Mzg3",
                "avatar_url": "https://avatars2.githubusercontent.com/u/13824387?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/CapsuleCD",
                "html_url": "https://github.com/CapsuleCD",
                "followers_url": "https://api.github.com/users/CapsuleCD/followers",
                "following_url": "https://api.github.com/users/CapsuleCD/following{/other_user}",
                "gists_url": "https://api.github.com/users/CapsuleCD/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/CapsuleCD/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/CapsuleCD/subscriptions",
                "organizations_url": "https://api.github.com/users/CapsuleCD/orgs",
                "repos_url": "https://api.github.com/users/CapsuleCD/repos",
                "events_url": "https://api.github.com/users/CapsuleCD/events{/privacy}",
                "received_events_url": "https://api.github.com/users/CapsuleCD/received_events",
                "type": "User",
                "site_admin": false
            },
            "created_at": "2018-09-16T16:39:45Z",
            "updated_at": "2018-09-16T16:39:45Z",
            "author_association": "COLLABORATOR",
            "body": "this is a test comment body"
        },
        "rawHeaders": [
            "GitHub.com",
            "Sun, 16 Sep 2018 16:39:45 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1392",
            "close",
            "Status",
            "201 Created",
            "X-RateLimit-Limit",
            "5000",
            "X-RateLimit-Remaining",
            "4999",
            "X-RateLimit-Reset",
            "1537119585",
            "private, max-age=60, s-maxage=60",
            "ETag",
            "\"c9b802fd02cdd4a345f0e5bf0af04225\"",
            "X-OAuth-Scopes",
            "repo",
            "X-Accepted-OAuth-Scopes",
            "",
            "Location",
            "https://api.github.com/repos/AnalogJ/npm_analogj_test/issues/comments/421793170",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "0.223414",
            "D395:1FE0:11A24C4:2917375:5B9E8751"
        ]
    }
]