[
    {
        "scope": "https://api.github.com:443",
        "method": "get",
        "path": "/user?access_token=placeholder_access_token",
        "body": "",
        "status": 200,
        "response": {
            "login": "AnalogJ",
            "id": 891875,
            "node_id": "MDQ6VXNlcjg5MTg3NQ==",
            "avatar_url": "https://avatars1.githubusercontent.com/u/891875?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/AnalogJ",
            "html_url": "https://github.com/AnalogJ",
            "followers_url": "https://api.github.com/users/AnalogJ/followers",
            "following_url": "https://api.github.com/users/AnalogJ/following{/other_user}",
            "gists_url": "https://api.github.com/users/AnalogJ/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/AnalogJ/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/AnalogJ/subscriptions",
            "organizations_url": "https://api.github.com/users/AnalogJ/orgs",
            "repos_url": "https://api.github.com/users/AnalogJ/repos",
            "events_url": "https://api.github.com/users/AnalogJ/events{/privacy}",
            "received_events_url": "https://api.github.com/users/AnalogJ/received_events",
            "type": "User",
            "site_admin": false,
            "name": "Jason Kulatunga",
            "company": "@Adobe",
            "blog": "http://www.thesparktree.com",
            "location": "San Francisco, CA",
            "email": "jason@thesparktree.com",
            "hireable": true,
            "bio": "Devops/Automation guy. I build tools so you don't have to. \r\n\r\nI build things. Then I break them. Most of the time I fix them again.",
            "public_repos": 132,
            "public_gists": 14,
            "followers": 78,
            "following": 47,
            "created_at": "2011-07-03T16:45:06Z",
            "updated_at": "2018-09-11T17:52:40Z"
        },
        "rawHeaders": [
            "Sat, 15 Sep 2018 22:59:18 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1337",
            "close",
            "GitHub.com",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "5000",
            "X-RateLimit-Remaining",
            "4998",
            "X-RateLimit-Reset",
            "1537055788",
            "private, max-age=60, s-maxage=60",
            "ETag",
            "\"a73639676d6b376db1c2efb1224669cc\"",
            "Last-Modified",
            "Tue, 11 Sep 2018 17:52:40 GMT",
            "X-OAuth-Scopes",
            "repo, user:email, write:repo_hook",
            "X-Accepted-OAuth-Scopes",
            "",
            "X-OAuth-Client-Id",
            "ac97167cd722170814b8",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "0.033734",
            "EA49:9C7E:296925C:3405DEF:5B9D8EC6"
        ]
    }
]